---
- name: Add nginx-ingress helm repository
  kubernetes.core.helm_repository:
    name: "{{ nginx_ingress_repo_name }}"
    repo_url: "{{ nginx_ingress_repo_url }}"
  become_user: "{{ ansible_user }}"
  environment:
    KUBECONFIG: "/home/{{ ansible_user }}/.kube/config"

- name: Update helm repositories
  kubernetes.core.helm:
    name: dummy
    chart_ref: "{{ nginx_ingress_repo_name }}/ingress-nginx"
    release_namespace: default
    state: absent
    update_repo_cache: yes
  become_user: "{{ ansible_user }}"
  environment:
    KUBECONFIG: "/home/{{ ansible_user }}/.kube/config"
  ignore_errors: yes

- name: Install nginx-ingress controller
  kubernetes.core.helm:
    name: ingress-nginx
    chart_ref: "{{ nginx_ingress_repo_name }}/ingress-nginx"
    release_namespace: "{{ nginx_ingress_namespace }}"
    create_namespace: yes
    values: "{{ nginx_ingress_values }}"
  become_user: "{{ ansible_user }}"
  environment:
    KUBECONFIG: "/home/{{ ansible_user }}/.kube/config"

- name: Wait for nginx-ingress to be ready
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Service
    name: ingress-nginx-controller
    namespace: "{{ nginx_ingress_namespace }}"
    wait: true
    wait_condition:
      type: Ready
      status: "True"
    wait_timeout: 300
  become_user: "{{ ansible_user }}"
  environment:
    KUBECONFIG: "/home/{{ ansible_user }}/.kube/config"